input 
{
    width: 40%;
}

@media only screen and (max-width: 600px) 
{
   form 
   {
        background-color: lightblue;
    }
}
#phonar
{
   margin: 1em;
}
#birthar
{
    padding: 1em;
}
#emailar
{
    margin: 1%;
}
